---
layout: default
---

{% include base_path %}

<style>
/* Force wider main on home: theme limits #main to 1280px via _page.scss */
.layout-home-old { max-width: 2000px; margin-left: auto; margin-right: auto; width: 100%; box-sizing: border-box; padding: 0 1em; }
.layout-home-old #main { max-width: 100% !important; width: 100% !important; box-sizing: border-box; }
/* Sidebar is position:fixed so align with centered content on wide viewports */
@media (min-width: 1024px) {
  .layout-home-old .sidebar { left: calc(1em + max(0px, (100vw - 2000px) / 2)); }
}
@media (min-width: 1280px) {
  .layout-home-old #main { max-width: 100% !important; width: 100% !important; }
}
</style>
<div class="layout-home-old">
<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page home-old__article">
    <div class="page__inner-wrap">
      <section class="page__content page__content--full home-old__main" itemprop="text">
        {{ content }}
      </section>
    </div>
  </article>
</div>
</div>
